@import './normalize.css';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #fff;
	color: #18181b;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: var(--font-body);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}