@import './normalize.css';
@import 'overlayscrollbars/overlayscrollbars.css';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #18181b;
	color: #fff;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: var(--font-body);
}

*, *::before, *::after {
	box-sizing: border-box;
}
