*::-webkit-scrollbar {
	@apply w-16px;
}

*::-webkit-scrollbar-thumb {
	@apply bg-gray-200 rounded-8px border-solid border-4px border-transparent bg-clip-content;
}

*::-webkit-scrollbar-thumb:hover {
	@apply bg-gray-400;
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translate3d(0, 4%, 0) scale(0.95);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(1);
	}
}
