@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--delay: 200ms;
		--duration: 0.8s;
	}

	:root {
		--color-bg: 220, 241, 210;
		--color-bg-card: 252, 250, 242;
		--color-bg-accent: 129, 199, 212;
		--color-text: 12, 12, 12;
		--color-text-accent: 38, 135, 133;
	}

	@media (prefers-color-schema: light) {
		:root:not([data-theme='dark']) {
			--color-bg: 220, 241, 210;
			--color-bg-card: 252, 250, 242;
			--color-bg-accent: 129, 199, 212;
			--color-text: 12, 12, 12;
			--color-text-accent: 38, 135, 133;
		}
	}

	:root[data-theme='dark'] {
		--color-bg: 67, 67, 67;
		--color-bg-card: 28, 28, 28;
		--color-bg-accent: 68, 138, 155;
		--color-text: 252, 250, 242;
		--color-text-accent: 129, 199, 212;
	}

	@media (prefers-color-scheme: dark) {
		:root:not([data-theme='light']) {
			--color-bg: 67, 67, 67;
			--color-bg-card: 28, 28, 28;
			--color-bg-accent: 68, 138, 155;
			--color-text: 252, 250, 242;
			--color-text-accent: 129, 199, 212;
		}
	}

	body {
		background-image: url('/texture.png');
	}

	a {
		@apply hover:text-accent;
	}
}

@keyframes pop-in {
	from {
		opacity: 0;
		transform: translate3d(0, 6px, 0) scale(0.98);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(1);
	}
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translateY(8px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@layer component {
	.site-width {
		@apply container mx-auto;
	}
}

.prose {
	display: grid;
	grid-template-columns: 1fr [gutter-start] 40px [content-start] minmax(0px, 90ch) [content-end] 40px [gutter-end] 1fr;

	> * {
		grid-column: content-start / content-end;
	}

	header {
		@apply mb-32 mt-48 text-center;
	}

	h1 {
		line-height: clamp(32px, 6vw, 48px);
	}

	h2 {
		@apply mb-8 mt-16;
	}

	/* no one has to know 🤫 */
	#table-of-contents + ul a {
		text-decoration: none;
		font-weight: inherit;
	}

	p > a,
	li > a {
		text-decoration: underline;
		text-underline-offset: 4px;
	}

	p,
	li {
		@apply text-lg;
	}

	@media (width > theme('screens.lg')) {
		& :where(iframe, video, img, pre, .rehype-code-title) {
			grid-column: gutter-start / gutter-end;
		}
	}

	img {
		justify-self: center;
		border-radius: 8px;
	}

	img,
	iframe,
	video,
	p,
	ul,
	ol,
	pre,
	blockquote,
	details {
		@apply mb-8;
	}

	li > ul {
		margin-bottom: 0;
	}

	ul,
	ol {
		@apply gap-x-2;
		display: grid;
		list-style-type: none;
		list-style-position: inside;
	}

	li > ul {
		@apply mt-1 pl-4;
	}

	li > ul > li {
		list-style-type: circle;
	}

	li > ul > li::before {
		content: none;
	}

	ol {
		list-style-type: decimal;
	}

	li > ol {
		@apply mt-1 pl-4;
	}

	blockquote {
		@apply rounded-md p-4 text-lg shadow-sm;
		border: 1px solid var(--post-blockquote-border);
		border-top: 4px solid var(--clr-primary);

		p {
			margin-bottom: 0;
		}
	}

	details summary {
		@apply mt-2 font-bold;
	}
}
