@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	@font-face {
		font-family: 'HunInn';
		src: url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot); /* IE9 Compat Modes */
		src: url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
		url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.woff) format("woff"), /* Modern Browsers */
		url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.ttf) format("truetype"), /* Safari, Android, iOS */
		url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.svg#SealmemoryHeader) format("svg"); /* Legacy iOS */
	}

	:root {
		--delay: 200ms;
		--duration: 0.8s;
	}

	:root {
		--color-fill: 251, 254, 251;
		--color-text-base: 40, 39, 40;
		--color-accent: 0, 108, 172;
		--color-card: 230, 230, 230;
		--color-card-muted: 205, 205, 205;
		--color-border: 236, 233, 233;
	}

	@media (prefers-color-schema: light) {
		:root:not([data-theme='dark']) {
			--color-fill: 251, 254, 251;
			--color-text-base: 40, 39, 40;
			--color-accent: 0, 108, 172;
			--color-card: 230, 230, 230;
			--color-card-muted: 205, 205, 205;
			--color-border: 236, 233, 233;
		}
	}

	:root[data-theme='dark'] {
		--color-fill: 33, 39, 55;
		--color-text-base: 234, 237, 243;
		--color-accent: 255, 107, 1;
		--color-card: 52, 63, 96;
		--color-card-muted: 138, 51, 2;
		--color-border: 171, 75, 8;
	}

	@media (prefers-color-scheme: dark) {
		:root:not([data-theme='light']) {
			--color-fill: 33, 39, 55;
			--color-text-base: 234, 237, 243;
			--color-accent: 255, 107, 1;
			--color-card: 52, 63, 96;
			--color-card-muted: 138, 51, 2;
			--color-border: 171, 75, 8;
		}
	}

	*::-webkit-scrollbar {
		@apply w-[16px];
	}

	*::-webkit-scrollbar-thumb {
		@apply rounded-[8px] border-[4px] border-solid border-transparent bg-gray-400 bg-clip-content;
	}

	*::-webkit-scrollbar-thumb:hover {
		@apply bg-gray-600;
	}

	*::-webkit-scrollbar-corner {
		@apply bg-transparent;
	}

	html {
		@apply min-h-dvh overflow-y-auto;
		scrollbar-gutter: stable;
	}

	body {
		@apply flex min-h-dvh flex-col bg-skin-fill font-serif text-skin-base;
	}

	body ::selection {
		@apply bg-skin-accent bg-opacity-70 text-skin-inverted;
	}

	a {
		@apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
	}

	code,
	blockquote {
		word-wrap: break-word;
	}

	pre > code {
		white-space: pre;
	}

	#sun-svg,
	html[data-theme='dark'] #moon-svg {
		display: none;
	}

	#moon-svg,
	html[data-theme='dark'] #sun-svg {
		display: block;
	}

	.prose {
		:where(h1, h2, h3, h4, h5, h6) {
			@apply !mb-3 !text-skin-base;
		}
		h3 {
			@apply italic;
		}
		p {
			@apply !text-skin-base;
		}
		a {
			@apply break-words !text-skin-base !decoration-dashed underline-offset-8 hover:!text-skin-accent;
		}
		blockquote {
			@apply !border-l-skin-accent border-opacity-50 opacity-80;
		}
		figcaption {
			@apply !text-skin-base/70;
		}
		strong {
			@apply !text-skin-base;
		}

		code {
			@apply rounded bg-skin-card/75 p-1 before:!content-none after:!content-none;
		}
		ol {
			@apply !text-skin-base;
		}
		ul {
			@apply overflow-x-clip !text-skin-base;
		}
		li::marker {
			@apply !text-skin-accent;
		}
		table {
			@apply !text-skin-base;
		}
		th {
			@apply border border-skin-line;
		}
		td {
			@apply border border-skin-line;
		}
		img {
			@apply !my-2 mx-auto border-2 border-skin-line;
		}
		hr {
			@apply !border-skin-line;
		}

		details {
			@apply inline-block cursor-pointer select-none text-skin-base;
		}
		summary {
			@apply focus-outline;
		}
	}
}

@keyframes pop-in {
	from {
		opacity: 0;
		transform: translate3d(0, 6px, 0) scale(0.98);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale(1);
	}
}

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translateY(8px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@layer components {
	.focus-outline {
		@apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
	}
}
